//-------------- Declaration ...

$normal-line-height: 1.6;
$color-grey-dark: #333;
$color-white: #fff;
$color-black: #000;

//----------- Color Reference
$color-primary: #ff9f08;
$color-tertiary: #a5a5a5;
