.d-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);

  grid-template-areas:
    "r1c1 r1c2 r1c3 r1c4"
    "r2c1 r2c2 r2c3 r2c4"
    "r3c1 r3c2 r3c3 r3c4"
    "r4c1 r4c2 r4c3 r4c4"
    "r5ca r5ca r5c3 r5c4";

  gap: 0.5rem;
}

.r1c1 {
  grid-area: r1c1;
}
.r1c2 {
  grid-area: r1c2;
}
.r1c3 {
  grid-area: r1c3;
}
.r1c4 {
  grid-area: r1c4;
}

.r2c1 {
  grid-area: r2c1;
}
.r2c2 {
  grid-area: r2c2;
}
.r2c3 {
  grid-area: r2c3;
}
.r2c4 {
  grid-area: r2c4;
}

.r3c1 {
  grid-area: r3c1;
}
.r3c2 {
  grid-area: r3c2;
}
.r3c3 {
  grid-area: r3c3;
}
.r3c4 {
  grid-area: r3c4;
}

.r4c1 {
  grid-area: r4c1;
}
.r4c2 {
  grid-area: r4c2;
}
.r4c3 {
  grid-area: r4c3;
}
.r4c4 {
  grid-area: r4c4;
}
.r5ca {
  grid-area: r5ca;
  grid-column: span 2;
}
.r5c3 {
  grid-area: r5c3;
}
.r5c4 {
  grid-area: r5c4;
}
