.calc {
  margin: 50vh auto;
  max-width: 24rem;
  height: 52rem;
  border-radius: 4rem;

  border: 4px solid $color-tertiary;
  outline: 2px solid $color-black;

  //-----------------------------
  overflow: hidden;

  //-----------------------------
  transform: translateY(-50%);

  &-container {
    background-color: $color-black;

    position: relative;

    &::after {
      content: "";
      display: table;
      width: 50%;
      background-color: $color-white;
      height: 0.6rem;
      border-radius: 10rem;

      position: absolute;
      left: 25%;
      top: calc(100% - 2rem);

      //-----------------Animate properties

      animation: bounce 4s infinite;
    }
  }

  &-display {
    @include d-flex;

    flex-direction: column;
    justify-content: flex-end;
    gap: 1rem;

    height: 20rem;
    padding: 1rem;

    text-align: right !important;

    span {
      display: block;
      overflow: hidden;
      color: $color-white;

      font-weight: 600;
      height: 4rem;
    }

    #swap-calc {
      font-size: 1.8rem;
      color: lighten($color-grey-dark, 0.5);
      font-weight: initial;
    }

    #result {
      font-size: 2.8rem;
    }
  }

  &-operation {
    padding: 1rem;
    padding-bottom: 2.8rem;
  }

  &-float {
    position: absolute;
    top: 1rem;

    &-bar {
      right: 1.5rem;
      transform: translate(-50% 50%);

      display: flex;
      gap: 0.5rem;
      align-items: center;
      justify-content: center;
    }

    &-notch {
      // top: 0;
      left: 50%;
      height: 1.5rem;
      width: 40%;

      border-bottom-right-radius: 1rem;
      border-bottom-left-radius: 1rem;
      background-color: rgba($color-grey-dark, 0.3);

      transform: translateX(-50%);
      position: relative;
    }

    & > * {
      color: $color-white;
    }

    span {
      font-size: 1.4rem;
    }
  }

  .notch {
    position: absolute;
    top: 0;
    color: lighten($color-grey-dark, 0.1);

    font-size: 1.4rem;
    font-weight: 600;

    &--cam {
      left: 10%;
    }

    &--piece {
      left: 45%;
    }
  }
}
